@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

/* HTML: <div class="loader"></div> */
.loader {
  --uib-size: 45px;
  --uib-color: #77A1FF;
  --uib-speed: 1.75s;
  --uib-bg-opacity: .20;
  position: relative;
  display: flex;
  flex-direction: column;
  height: var(--uib-size);
  width: var(--uib-size);
  transform: rotate(45deg);
  animation: rotate calc(var(--uib-speed) * 2) ease-in-out infinite;
}

.half {
  --uib-half-size: calc(var(--uib-size) * 0.435);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-half-size);
  height: var(--uib-half-size);
  overflow: hidden;
  isolation: isolate;
}

.half:first-child {
  top: 8.25%;
  left: 8.25%;
  border-radius: 50% 50% calc(var(--uib-size) / 15);
}

.half:last-child {
  bottom: 8.25%;
  right: 8.25%;
  transform: rotate(180deg);
  align-self: flex-end;
  border-radius: 50% 50% calc(var(--uib-size) / 15);
}

.half:last-child::after {
  animation-delay: calc(var(--uib-speed) * -1);
}

.half::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--uib-color);
  opacity: var(--uib-bg-opacity);
  transition: background-color 0.3s ease;
}

.half::after {
  content: '';
  position: relative;
  z-index: 1;
  display: block;
  background-color: var(--uib-color);
  height: 100%;
  transform: rotate(45deg) translate(-3%, 50%) scaleX(1.2);
  width: 100%;
  transform-origin: bottom right;
  border-radius: 0 0 calc(var(--uib-size) / 20) 0;
  animation: flow calc(var(--uib-speed) * 2) linear infinite both;
  transition: background-color 0.3s ease;
}

@keyframes flow {
  0% {
    transform: rotate(45deg) translate(-3%, 50%) scaleX(1.2);
  }
  30% {
    transform: rotate(45deg) translate(115%, 50%) scaleX(1.2);
  }
  30.001%,
  50% {
    transform: rotate(0deg) translate(-85%, -85%) scaleX(1);
  }
  80%,
  100% {
    transform: rotate(0deg) translate(0%, 0%) scaleX(1);
  }
}

@keyframes rotate {
  0%,
  30% {
    transform: rotate(45deg);
  }
  50%,
  80% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Dosis';
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
min-height: 100vh;
display: flex;
flex-direction: column;
margin: 0;
padding: 0;
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Footer specific styles */
body>*:not(footer) {
  flex: 1;
}

.footer {
  background-color: #214C9E;
  color: #ffffff;
  padding-top: 10px;
  text-align: center;
  flex-shrink: 0; /* Prevent footer from shrinking */
}

.footer-bottom {
  display: block;        /* Ensure block-level element for centering */
  text-align: center;
  margin: 0 auto;        /* Center the content horizontally */
  padding-bottom: 20px;
  font-size: 16px;
}

    .clonedContainer {
    box-shadow: 0 4px 8px 0 rgba(100, 149, 237, 0.6); /* Cornflower blue glow */
    padding: 10px;
    margin: 10px 0;
    background: #fff;
    display: flex;
    flex-direction: column; /* Align items vertically in a row */
    gap: 10px; /* Gap between flex items */
    margin: 10px auto; /* Center horizontally */
    max-width: 600px; /* Optional: Limit the maximum width */
}
.logotitle{
  display: none;
}

.textsee{
  display: none;
  text-align: right;
  margin-right: 10px;
  color: #1A507C;
  margin-top: 5px;
  font-size: 12px;
}


.texthide{
  text-align: right;
  margin-right: 10px;
  color: #1A507C;
  margin-top: 5px;
  font-size: 12px;
}


.hint-label {
    position: absolute;
    top: 8px; /* Adjust to place the label over the textarea */
    left: 8px;
    padding-right: x;
    font-size: 14px;
    color: #aaa; /* Placeholder color */
    pointer-events: none;
    transition: all 0.10s ease;
}



/* When textarea is focused or contains text, move label up */
.editText:focus + .hint-label,
.editText:not(:placeholder-shown) + .hint-label {
    top: -15px; /* Move label up on focus */
    
    color: darkblue; /* Change color on focus */
    background-color: white; /* Ensure label is still visible */
}
.logotitle1{
  color: #E7C755;
}
.logotitle2{
  color: #D6D6D6;
}
.imagelogo{
  margin-top: -80px;
  margin-bottom: -73px;
  margin-left: -20px;
}
    
 .hidden{
   display: none;
 }
 .resultdes{
   display: none;
 }
/* all similar content styling codes */
section {
  padding:30px 0;
}
.containerWrapper {
    display: flex;
    flex-direction: column; /* Align items vertically in a row */
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px; /* Gap between flex items */
}


.newContainer {
    display: inline-block; /* Display as flex container */
    flex-direction: column; /* Align items vertically */
    align-items: flex-start; /* Align items from the start left */
    width: 50%;
    height: 70px;
    padding-top: 10px;
    padding-left: 10px;
    margin: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out; /* Optional: add transition for smooth effect */
}

.newContainer:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Optional: increase shadow on hover */
}


.circle {
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
}

.topContainer {
    display: flex;
    align-items: center; /* Align items vertically center */
    justify-content: flex-start; /* Align items from the start left */
    margin-bottom: 10px;
    margin-top: 10px;
  
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.rotateBack {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.topContainer p {
  font-size: 18px;
}
.dropdownButton {
    margin-left: 30px;
    background-color: transparent; /* Transparent background */
    border: none; /* Remove border */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items from the start left */
}

.dropdownButton i {
    height: 30px;
    width: 30px;
    color: #000; /* Icon color */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropdownContainer {
    display: none; /* inline flex here*/
    align-items: center;
    justify-content: center;
    
}
.suggestions {
  
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap; /* Allows suggestions to wrap if they exceed container width */
  gap: 5px; /* Space between suggestions */
  justify-content: center; /* Center-align suggestions horizontally */
}
.suggestion {
  font-size: 18px;
  min-height: 48px;
  color: #1D233C;
  border: 2px solid #007bff;
  border-radius: 12px 15px;
  padding-top: 10px;
   position: relative;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  text-align: center;
  display: inline-block;
  transition: border-color 0.3s;
  vertical-align: middle;
}
.suggestion:hover {
  border-color: #0056b3; /* Darker blue border on hover */
}

.container {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 10px; /* Margin from the top */
    }
    
    .highlight {
            background-color: #FC5858;
            opacity: 0.40;
        }
          .highlightCorrected {
    background-color: #6AEC82;
    color: transparent;
    opacity: 0.40;
  }
        .container4 {
      display: flex;
      justify-content: center;
      text-align: center;
       width: 100%;
    }
.correctorcontainer {
  position: relative; /* Changed from display: relative to position: relative */
    justify-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 60%; /* Adjust width to make room for margins */
  margin: 10px auto; /* Center the container horizontally */
}

.max-width2{
    display: inline;
    justify-content: center;
    align-items: center;
  
}


.editText3{
  width: 100%;
height: 100%;

border: none;
outline: none;
background: none;
position: relative;
display: none;
opacity: 1;
color: black;
resize: none;
box-sizing: border-box;
padding: 10px;

text-align: start; /* Ensures placeholder text starts at the top */
}

.editText2{
  width: 100%;
height: 100%;

border: none;
outline: none;
background: none;
position: relative;
display: none;
opacity: 1;
color: black;
resize: none;
box-sizing: border-box;
padding: 10px;

text-align: start; /* Ensures placeholder text starts at the top */
}
.editText {
    width: 100%;
            height: 100%;
            
            border: none;
            outline: none;
            background: none;
            position: relative;
            opacity: 1;
            color: black;
            resize: none;
            box-sizing: border-box;
            padding: 10px;
            
            
}

.editText::placeholder {
    text-align: start; /* Ensures placeholder text starts at the top */
}

.editText:focus {
    outline: none; /* Removes default outline */
    border: 1px solid transparent; /* Keeps the border transparent on focus */
}

.editText.opacity{
  opacity: 0;
}

.editTextContainer{
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border: 1px solid darkblue;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.20);
    overflow: hidden;
}

.editTextContainerCorrect {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  display: none;
  border: 1px solid darkblue;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.20);
  overflow: hidden;
}

.resultBox {
    width: 100%;
            height: 100%;
            font-size: 10px;
            border: none;
            outline: none;
            background: none;
            position: relative;
            
            color: black;
            resize: none;
            box-sizing: border-box;
            padding: 10px;
            
}

.resultBox::placeholder {
    text-align: start; /* Ensures placeholder text starts at the top */
}

.resultBox:focus {
    outline: none; /* Removes default outline */
    border: 1px solid transparent; /* Keeps the border transparent on focus */
}

.editTextContainer2{
   
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border: 1px solid darkblue;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.20);
    overflow: hidden;
}
.text-enlarge{
  font-size: 15px;
  color: #1E213E;
}
.textBackground {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
 padding-bottom: 5px;
 margin: 3px;
  background-color: #7C88FF;
  color: white;
  border-radius: 25px; /* Rounded corners */
  text-align: center;
  min-width: 50px;
  font-size: 12px; /* Smaller text */
  vertical-align: middle; /* Aligns text vertically */
}

.definitions{
  padding-top:10px;
  font-size: 15px;
  text-align: center;
  vertical-align: middle; /* Aligns text vertically */
}

.checkContainer {
    display: block;
    position: static;
    width: 100%;
    margin-bottom: 10px;
    height: 300px; /* Set default height */
    min-height: 300px; /* Ensure it's at least 100px tall */
    max-height: none; /* Allow it to grow beyond 100px if needed */
    
    border: 1px solid #00000045;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.20);
    overflow-y: auto; /* Enable vertical scrolling if needed */
    overflow-x: hidden; /* Hide horizontal scrollbar if any */
    
    padding: 10px 0; /* Add padding to top and bottom */
    
    /* Add an inner border effect with box-shadow */
    background-clip: padding-box;
    box-shadow: inset 0 0 0 1px white; /* White inner border effect */
}
    .checkContainer::-webkit-scrollbar {
display: none; /* Chrome, Safari, and Opera */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
   
    font-size: 14px;
    padding-left: 10px;
    padding-top: 11px;
    color: transparent;
    box-sizing: border-box;
    text-align: left; /* Ensure text starts from the left */
    transition: 0.5s fade-in;
   
}

.overlayCorrected {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
   
    font-size: 14px;
    padding-left: 10px;
    padding-top: 11px;
    color: transparent;
    box-sizing: border-box;
    text-align: left; /* Ensure text starts from the left */
    transition: 0.5s fade-in;
   
}
.overlay.fade-in {
    opacity: 1; /* Show overlay */
}

.dropdown {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.30);
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

    .max-width {
      max-width: 1100px;
      padding: 0 80px;
      font-size: 30px;
    }
    
        .max-widthfooter {
      max-width: 1100px;
      padding: 0 80px;
      font-size: 30px;
    }
    
   .navbar.expanded {
     
    height: 350px; /* Adjusted height for the expanded navbar */
    
}
.logo.hidden {
    display: none;
}
.text-1 {
    display: flex;
    font-size: 20px;
    align-items: center;
    color: midnightblue;
    gap: 0; /* Ensure there's no gap between elements */
}

.text-1 h1, .text-1 h2 {
    margin: 0; /* Reset margin */
}

.em-dashes {
    font-family: 'Roboto', sans-serif; /* Use your preferred font */
    padding-top: 5px;
    width: 15px;
    letter-spacing: 15px;
    font-size: 20px; /* Adjust font size as needed */
    color: midnightblue; /* Color of the em dashes */
    
}




.text-2 {
      position: relative;
      font-size: 25px;
      font-weight: normal;
      display: inline-block;
    }
.refreshButton {
  width: 25%;
  display: inline-flex;
  
  justify-content: center; /* Center the content inside the button */
  align-items: center; /* Vertically align content inside the button */
  margin: 0 auto; /* Center the button itself horizontally */
}

    .correctButton{
          width: 25%; /* Allow buttons to take the necessary width */
    
    }

 

    @keyframes glow {
      0%, 100% {
        opacity: 0.3;
        box-shadow: 0 0 5px deepskyblue;
      }
      50% {
        opacity: 0.4;
        box-shadow: 0 0 10px deepskyblue;
      }
    }
      .navbar {
      width: 100%;
      height: 80px;
     padding-bottom: 20px;
      
      overflow: hidden;
    }

    .bg-navbar{
      padding-top: 5px;
      padding-bottom: 20px;
background-color: #214C9E;
    }
    
    #toolbar {
  
  background-color: #214C9E;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #214C9E;
}

    .max-width {
      max-width: 1100px;
      margin: auto;
      padding: 0 80px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    
    .max-widthfooter{
      max-width: 1100px;
margin: auto;
padding: 0 80px;
margin-top: 10px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
    }

    .logo a {
      text-decoration: none;
      color: yellow;
      font-size: 28px;
      font-weight: bold;
    }

    .logo span {
      color: #FFFFFF;
    }

    .menu {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 15px;
      display: flex;
    }

    .menu li {
     font-size: 20px;
      padding: 0 20px;
    }

    .menu a {
      text-decoration: none;
      color: #fff;
      padding: 15px 0;
      display: block;
    }

 .menu-btn {
      display: none;
      cursor: pointer;
    }
    
    .menu-btn i {
      font-size: 24px;
      color: #fff;
    }
    
    .dropdown:focus {
    outline: none; /* Removes default outline */
    border: 1px solid transparent; /* Keeps the border transparent on focus */
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.30);
}

/* Styles for large desktops (min-width: 1440px) */
@media screen and (min-width: 1440px) {
     .text-1 {
    display: flex;
    font-size: 20px;
    align-items: center;
    color: midnightblue;
    gap: 0; /* Ensure there's no gap between elements */
}

.text-1 h1, .text-1 h2 {
    margin: 0; /* Reset margin */
}

.text-1 h1{
  padding-right: 10px;
}
.text-1 h2 {
  padding-left: 10px;
}

.em-dashes {
    font-family: 'Roboto', sans-serif; /* Use your preferred font */
    padding-top: 5px;
    width: 15px;
    letter-spacing: 15px;
    font-size: 20px; /* Adjust font size as needed */
    color: midnightblue; /* Color of the em dashes */
    
}

.editText2{
  width: 100%;
height: 100%;
border: none;
outline: none;
background: none;
position: relative;
opacity: 1;
color: black;
resize: none;
box-sizing: border-box;
padding-left: 3px;

text-align: start; /* Ensures placeholder text starts at the top */
}
.editText {
    width: 100%;
            height: 100%;
            
            border: none;
            outline: none;
            background: none;
            position: relative;
            opacity: 1;
            color: black;
            resize: none;
            box-sizing: border-box;
            padding: 10px;
            
}

.editText3{
  width: 100%;
height: 100%;

border: none;
outline: none;
background: none;
position: relative;
opacity: 1;
color: black;
resize: none;
box-sizing: border-box;
padding: 10px;

}

.editText::placeholder {
    text-align: start; /* Ensures placeholder text starts at the top */
}

.editText:focus {
    outline: none; /* Removes default outline */
    border: 1px solid transparent; /* Keeps the border transparent on focus */
}

.editText.opacity{
  opacity: 0;
}

.editTextContainer{
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border: 1px solid darkblue;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.20);
    overflow: hidden;
}
}
    @media screen and (max-width: 768px) {
  
/* CSS for the thinnest footer */

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  
  
}
body {
  flex: 1; /* Allows the body to expand and fill remaining space */
  
}
.footer {
  background-color: #214C9E;
  width: 100%;
  color: #000000; /* Text color for contrast */
  height: 20px; /* Thin height for the footer */
  padding: 0; /* No padding to keep footer thin */
  text-align: center; /* Center text horizontally */
  box-sizing: border-box; /* Ensures padding is included within the height */
  position: relative; /* Sets the footer as a relative positioning context */
  overflow: hidden; /* Hides any content that overflows the height */
}

.footer-contents {
  position: absolute; /* Allows positioning within the footer */
  top: 0; /* Aligns content to the top of the footer */
  left: 50%; /* Centers content horizontally */
  transform: translateX(-50%); /* Adjusts for content width to fully center */
  font-size: 10px; /* Small font size for a thin appearance */
  margin: 0; /* Remove default margins */
  white-space: nowrap; /* Prevents text from wrapping to a new line */
}



    .max-width {
        padding: 0 20px;
        margin-top: 25px;
      }
      .checkContainer {
    display: block;
    position: static;
    width: 100%;
    margin-bottom: 10px;
    
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.20);
    overflow-y: auto; /* Enable vertical scrolling if needed */
    overflow-x: hidden; /* Hide horizontal scrollbar if any */
}

      .text-1 {
    display: flex;
    
    align-items: center;
    color: midnightblue;
    gap: 0; /* Ensure there's no gap between elements */
}

.text-1 h1, .text-1 h2 {
  font-size: 16px;
   
    margin: 0; /* Reset margin */
}
.text-1 h1{
  padding-right: 5px;
}


.em-dashes {
    font-family: 'Roboto', sans-serif; /* Use your preferred font */
    padding-top: 5px;
    width: 15px;
    letter-spacing: 15px;
    font-size: 15px; /* Adjust font size as needed */
    color: midnightblue; /* Color of the em dashes */
    
}

      .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-size: 14px;
    padding-left: 7px;
    padding-top: 8px;
    color: transparent;
    box-sizing: border-box;
    text-align: left; /* Ensure text starts from the left */
    transition: 0.50s fade-in;
}

.overlayCorrected {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-size: 14px;
    padding-left: 6px;
    padding-top: 8px;
    color: transparent;
    box-sizing: border-box;
    text-align: left; /* Ensure text starts from the left */
    transition: 0.50s fade-in;
}
      
        .resultdes{
          display: none;
        }
      .max-width2 {
        display: inline;
      }



  
    
    @keyframes glow {
      0%, 100% {
        opacity: 0.3;
        box-shadow: 0 0 5px deepskyblue;
      }
      50% {
        opacity: 0.4;
        box-shadow: 0 0 10px deepskyblue;
      }
    }
.menu {
    display: none;
    width: 100%;
    
    font-size: 20px; /* Smaller font size for the menu items */
   
    justify-content: center;
    align-items: flex-start; /* Align items at the top */
    flex-direction: column; /* Display items in a column */
    text-align: center;
}

.correctorcontainer {
        max-width: 90%;
        padding: 15px;
    }


    .editText,
    .dropdown,
    button {
        padding: 8px;
        font-size: 14px;
    }
    
    
    
    .menu li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .menu-btn {
        display: block;
    }

    .menu.active {
        display: flex;
    }
    
    .menu-bg {
        background-color: cornflowerblue; /* New background color when menu is active */
    }

.navbar{
  width: 100%;
  height: 10px;
  padding-bottom: 30px;
  background-color:#214C9E;
}

.text-2 {
      position: relative;
      font-size: 18px;
      font-weight: normal;
      display: inline-block;
    }


      .menu li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
      }

      .menu-btn {
        display: block;
      }

      .menu.active {
        display: flex;
      }
      
      
.functionscontainer {
    display: inline-flex; /* Enable flexbox properties */
    justify-content: center; /* Center horizontally */
    
    
}

.container2{
display: inline-flex; /* Enable flexbox properties */
    
    flex-direction: row; /* Stack items vertically */
    
}
.functionscontainer2 {
    display: inline-flex; /* Enable flexbox properties */
    width: 150px;
    flex-direction: column; /* Stack items vertically */
}
.functionscontainer3 {
    display: inline-flex; /* Enable flexbox properties */

}
.checkContainer {
    display: block;
    position: static;
    width: 100%;
    margin-bottom: 10px;
    height: 300px; /* Set default height */
    min-height: 300px; /* Ensure it's at least 100px tall */
    max-height: none; /* Allow it to grow beyond 100px if needed */
    
    border: 1px solid darkblue;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.20);
    overflow-y: auto; /* Enable vertical scrolling if needed */
    overflow-x: hidden; /* Hide horizontal scrollbar if any */
    
    padding: 10px 0; /* Add padding to top and bottom */
    
    /* Add an inner border effect with box-shadow */
    background-clip: padding-box;
    box-shadow: inset 0 0 0 1px white; /* White inner border effect */
}

    .dropdown {
      width: 120px;
        height: 40px;
    }

    .correctButton, .refreshButton {
        width: 500px;
        height: 30px;
        margin: 10px;
    }
    
    .editText {
      border: 1px solid transparent;
      width: 100%;
      height: 100%;
      font-size: 14px;
    }
    .editText2{
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
    text-align: left;
  padding-left: 5px;
  font-size: 13px;
}
.editText3{
  
  width: 100%;
  text-align: left;
  padding-left: 7px;
  height: 100%;
  font-size: 14px;
}
    
    .editTextContainer2{
      margin-left: 0px;
      margin-top: 10px;
     
    }
    
    .max-width2{
      display: inline;
    justify-content: center;
    align-items: center;
    }
    
    .container4{
      justify-content: center;
    align-items: center;
    }
    
    .resultdes{
      font-size: 14px;
      color: darkblue;
    }
    
       .editTextContainer2{
     display: block;
    }
    }
    
    
    
    @media (max-width: 480px) {
          .correctorcontainer {
        max-width: 95%;
        padding: 10px;
        
    }
     .editTextContainer2{
      margin-left: 0px;
      margin-top: 10px;
    }
    
    .max-width2{
      display: relative;
    }
    
    
    .functionscontainer {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start */
    }

    .dropdown {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .correctButton, .refreshButton {
        width: auto;
        margin-bottom: 0;
    }

    .editText,
    .dropdown,
    button {
        padding: 6px;
        font-size: 12px;
    }
    

    }
    
    
